################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/    # ignore bin directory
*.obj   # ignore any files with .obj postfix
/.vs
